.background {
  text-align: center;
  min-height: 50vh;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.side-menu{
  background-color: #5F93E7;
  height: 80vh;
  width: fit-content;
  padding: 0px 30px;
  font-family: 'exo 2';
}

.cont-principal{
  display: flex;
  flex-direction: row;
}
.cont-med-l{
  background-color: blueviolet;
  width: 50%;
  padding: 35rem 10px 0;
  align-items: center;
}

.cont-med-r{
  background-color: brown;
  width: 50%;
  padding: 35rem 10px 0;
}

